/* COLORS: 
navy blue: #002642
teal blue: #375F6C
light blue: #CEDDF2
white: #FFFFFF */

/* GENERAL */
body {
  margin: 0;
}

h1 {
  font-family: "spartan", sans-serif;
  font-weight: lighter;
  font-size: 2em;
}

h2 {
  color: white;
  background-color: #002642;
  margin: auto;
  width: 50%;
  padding: 15px;
  text-align: center;
  font-family: "spartan", sans-serif;
  font-weight: lighter;
}

h3 {
  font-family: "Gill Sans";
  font-weight: lighter;
  font-size: 1.5em;
}

h4 {
  color: #002642;
  text-align: center;
  font-family: "Marcellus", serif;
  font-size: 1.75em;
  font-weight: lighter;
  margin-bottom: 20px;
}

h5 {
  color: #002642;
  text-align: center;
  font-family: "Marcellus", serif;
  font-size: 1.2em;
  font-weight: lighter;
}

.email-link,
.cancer-button {
  color: white;
  background-color: #375f6c;
  padding: 10px;
  font-family: "Gill Sans";
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

/**** HEADER ************************************************************/
header {
  background-color: #eaf0f8;
  padding-top: 15px;
}

figure img {
  width: 100%;
  margin: auto;
}

/*Contact button in header on <768 screens */
header .email-link {
  float: right;
  margin-top: 20px;
  margin-right: 25px;
}

/**** HAMBURGER NAVIGATION MENU ************************************************************/
.mobile-container {
  margin-top: -2.75em;
}

.topnav {
  overflow: hidden;
  background-color: #eaf0f8;
  padding: 10px;
}

/* Hide the links inside the navigation menu until click*/
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #002642;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 0.75em;
  font-family: "spartan", sans-serif;
  text-align: center;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #eaf0f8;
  display: block;
  font-size: 1.35em;
  top: 0;
}

/* Style the active links */
.active {
  background-color: #eaf0f8;
  color: #002642;
}

/* STANDARD NAVIGATION MENU *************************************************************/
header nav {
  text-align: center;
  font-size: 0.75em;
  padding: 20px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline;
  padding: 3%;
}

header li a {
  font-family: "spartan", sans-serif;
  color: #002642;
  text-align: right;
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline solid #002642 1px;
}

/* HERO ************************************************************/
#title-hero {
  background-image: url("../img/brooks-hero@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 450px; /*370*/
}

.title-text {
  padding-top: 225px;
  text-align: center;
  color: white;
  /* Add styling here to align text to bottom of image */
}

.title-text h3 {
  margin: 12.33px 0;
  padding: 20px;
}

.telehealth h5 {
  width: 60%;
  background-color: #eaf0f8;
  border: 3px double #002642;
  margin: 40px auto 50px auto;
  padding: 20px 0;
  /* margin-top: 0; */
  /* margin-bottom: 40px; */
}

/* WELCOME ************************************************************/
.welcome p {
  color: #002642;
  font-family: "Marcellus", serif;
  width: 90%;
  margin: auto;
}

.intro-text {
  padding-bottom: 40px;
}

.specialties h2 {
  width: 50%;
  margin: auto;
  font-size: 1em;
  text-align: center;
  padding: 10px 0;
}

.specialties li {
  color: #002642;
  font-family: "Marcellus", serif;
  margin-left: 25%;
}

.specialties li:hover {
  /*blue line appears under word when hovered over*/
  text-decoration: underline solid#002642 1px;
}

.specialties {
  padding-bottom: 20px;
}

.experience h2 {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 35px 0;
}

.experience p {
  width: 60%;
  margin: auto;
  padding: 15px;
  color: #002642;
  font-family: "Marcellus", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 2em;
}

.cancer {
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

/* MEET RYAN ************************************************************/
.meet-ryan h4 {
  margin: 50px 0 20px 0;
}

.wall-small {
  width: 100%;
  height: 275px;
  background-image: url("../img/brooks-wall-mobile.jpg");
  /* background-position: center; */
  background-size: 100%; /* cover */
  background-repeat: no-repeat;
}

.wall-too {
  padding-top: 20px;
}

.wall-too p {
  width: 75%;
  /* height: 40%; */
  background-color: #eaf0f8;
  margin: auto;
  color: #002642;
  font-size: 1em;
  font-family: "marcellus";
  padding: 15px;
  line-height: 2em;
  border: 3px double #002642;
}

#contact {
  background-color: #eaf0f8;
  text-align: center;
  margin-top: 20px;
  padding-top: 5px;
}

#contact-form,
.contact-info {
  font-family: "spartan", sans-serif;
  color: #002642;
  padding: 20px;
}

#contact .email-link {
  padding: 1em;
  font-size: 1.25em;
}

#social {
  padding-top: 15px;
}

#map {
  /* border: 3px solid #002642; */
  /* width: 200px; */
  /* height: 200px; */
  margin: 30px auto 0 auto;
}

footer {
  padding: 50px 0;
  background-color: #eaf0f8;
}

.badges {
  display: flex;
  justify-content: space-around;
}

/* MOBILE *****************************************************/
/* Prevent hero text and contact button from moving too far down the screen when smaller than 362 */
@media screen and (max-width: 362px) {
  .title-text h1 {
    font-size: 1.5em;
  }

  .title-text h3 {
    font-size: 1.25em;
  }
}

/* Hide the main nav menu & header contact email link on mobile screens */
@media screen and (max-width: 767px) {
  header .email-link {
    display: none;
  }
  header nav {
    display: none;
  }
}
/* TABLET *****************************************************/
@media screen and (min-width: 768px) {
  .mobile-container {
    display: none;
  }

  header figure {
    width: 75%;
  }

  figure img {
    width: 100%;
    margin-left: 20px;
  }

  header nav {
    text-align: right;
    font-size: 1.1em;
    padding: 40px 20px 20px 20px;
  }
  .title-text {
    padding-top: 280px;
  }
  #title-hero {
    background-image: url("../img/brooks-hero@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 640px;
  }
  .half-width {
    width: 48%;
    display: inline-block;
    margin: auto;
  }

  .intro-text {
    padding-bottom: 60px;
    margin-left: 35%;
  }

  .intro-text p {
    width: 95%;
    line-height: 1.5em;
  }

  .specialties h2 {
    width: 42%;
    margin: 0 25%;
  }

  .wall {
    width: 100%;
    height: 350px;
    background-image: url("../img/brooks-wall-desktop@2x.jpg");
    background-size: 100%; /* cover */
    background-repeat: no-repeat;
    display: flex;
    align-items: right;
  }

  .wall-small {
    display: none;
  }

  .wall-too p {
    width: 30%;
    border: 3px double #002642;
    color: #002642;
    margin-right: 5em;
    font-size: 0.75em;
    margin-top: 3%;
  }
}

/* DESKTOP *****************************************************/

@media screen and (min-width: 1200px) {
  .title-text {
    padding-top: 550px;
  }

  #title-hero {
    width: 100%;
    height: 740px;
  }

  h1 {
    font-size: 2.25em;
  }
}

/* ABOUT PAGE *****************************************************/
.pages-cta {
  background-color: #eaf0f8;
  /* background-size: 100%; */
  text-align: center;
}

.pages-cta p {
  margin: 0;
  height: 50%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.about-page {
  text-align: center;
}

/* Hide the contact email link on mobile screens */
@media screen and (min-width: 768px) {
  .pages-cta {
    display: none;
  }