/* COLORS: 
navy blue: #002642
teal blue: #375F6C
light blue: #CEDDF2
white: #FFFFFF */

/* GENERAL */
body {
  margin: 0;
}

h1 {
  font-family: spartan;
  font-weight: lighter;
  font-size: 2.25em;
}

h2 {
  color: white;
  background-color: #002642;
  margin: auto;
  width: 50%;
  padding: 15px;
  text-align: center;
  font-family: spartan, sans-serif;
  font-weight: lighter;
  /* ADD SPARTAN FONT */
}

h3 {
  font-family: gill sans;
  font-weight: lighter;
}

h4 {
  color: #002642;
  text-align: center;
  font-family: "Marcellus", serif;
  font-size: 1.75em;
  font-weight: lighter;
}

h5 {
}

button {
  color: white;
  background-color: #375f6c;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

/* HEADER */
header {
  background-color: #ceddf2;
  padding-top: 15px;
}

header img {
  width: 50%;
  margin-left: 20px;
}

header button {
  float: right;
  margin-top: 15px;
  margin-right: 25px;
}

header nav {
  text-align: right;
  font-size: 0.75em;
  padding: 40px 20px 20px 20px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
}

header nav li {
  display: inline;
  padding: 3%;
}

header li a {
  font-family: spartan;
  color: #002642;
  text-align: right;
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline solid #002642 1px;
}

/* TITLE */
#title-hero {
  background-image: url("img/hero-image.png");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 740px;
  /* Get image to display in correct position */
}

.title-text {
  text-align: center;
  color: white;
  /* Add styling here to align text to bottom of image */
}

/* WELCOME */

.intro-text,
.specialties {
  width: 40%;
}

.welcome p {
  color: #002642;
  font-family: "Marcellus", serif;
}

.specialties li {
  color: #002642;
  font-family: "Marcellus", serif;
}

.specialties li:hover {
  /*blue line appears under word when hovered over*/
  text-decoration: underline solid#002642 1px;
}

.experience h2 {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 35px 0;
}

.experience p {
  width: 60%;
  margin: auto;
  padding: 15px;
  color: #002642;
  font-family: "Marcellus", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 2em;
}

.cancer-button {
  text-align: center;
  margin-top: 25px;
}

/* MEET RYAN */
.wall {
  width: 100%;
  height: 250px;
  background-image: url("img/brooks-wall.jpg");
  background-position-y: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.wall p {
  width: 40%;
  height: 40%;
  color: white;
  float: right;
}
